.cart {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bttn{
    width: 200px;
    margin-top: .5rem;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
  } 
  
  .cart-item img {
    width: 200px;
    height: 200px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
  }
  .quantity-controls{
    margin-bottom: 1rem;
  }
  
  .cart-total {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  