/* Header.css */
*{
    color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  margin: 10px;
}

.logo {
  display: flex;
  gap: 20%;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

.logoImg{
  width: 50px;
  border-radius: 50%;
}

.account-address{
  width: 2 0%;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  gap: 2rem;
}
.searchBar{
  width: 100%;
  
}
.SearchButton{
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}