*{
    color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  margin: 10px;
}

.logo {
  display: flex;
  gap: 20%;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
}

.nav-links div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg{
  width: 80px;
  border-radius: 50%;
}

.account-address{
  width: 2 0%;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  gap: 2rem;
}
.searchBar{
  width: 100%;
  
}
.SearchButton{
  font-size: large;
  border: none;
  width:3rem;
  height: 3rem;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .nav-links p{
    display: none;
  }
  .logoImg{
    width: 60px;
  }
  .account-address{
    display: none;
  }
  .nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-bar{
    gap: .5rem;
  }
  .TextField{
    max-width: 80%;
    height: 10%;
  }
  .header{
    margin: 0;
    padding: 2%;
  }
  .searchBar{
    height: 10px;
  }
  
}