.FooterBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    border-radius: 10px;
}
/* Mobile View */
@media (max-width: 768px) {
    .FooterBottom{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5rem;
        padding-bottom: 1rem;
    }

    
}