.Nav{
    display: none;
}
@media (max-width: 768px) {
    .Nav{
        display: block;
        display: flex;
        
    }
    .searchBar{
        margin: 0;
        gap: 0;
    }
    .logoImg{
        width: 90%;
    }
    .search-bar{
        width: 100%;
        gap: .5rem;
    }
    .logo-icon{
        width: 20%;
    }
    .nav-links{
        display: flex;
    }
  }
