*{
    margin: 0;
    padding: 0;
}
.part1{
    margin: .5%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.part2{
    margin: .5%;
}
.part3{
    margin: .5%;
    background-color: antiquewhite;
    padding-top: 1rem;
}