.ProductDetails{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProductDetailsLeft, .ProductDetailsRight{
    width: 40%;
}
.quantity-controls{
    width: 20%;
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
}
.addToCartDiv{
    margin-top: .5rem;
}

@media (max-width: 768px) {
    .ProductDetails{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .ProductDetails div{
        width: 80%;
    }
    p{
        margin: 0;
    }
    
  }